.inner {
    padding-top: 39px;
    padding-bottom:100px;
}

.text_wrapper {
    display: grid;
    justify-content: center;
    text-align: center;
} 


.grid_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.img_container {
    width: 100%;
    object-fit: fill;
    margin-top: 20px;
}

.img_container img {
    width: 100%;
    height: 100%;
}

.title {
    font-size: 36px;
}

.data {
    font-size: 11px;
    margin-top: 20px;
    font-weight: 400;
}

.text_container {
    max-width: 690px;
}

.text {
    margin-top: 20px;
    line-height: 20px;
    font-weight: 400;
}

.authors_wrapper {
    display: grid;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
}

.authors_container {
    max-width: 200px;
}

.email_wrapper {
    display: grid;
    justify-content: center;
    text-align: center;
}

.email_container {
    max-width: 398px;
}


.input {
    padding: 0px;
    border: none;
    width: 100%;
    height: 40px;
    text-align: center;
    border-bottom: 1px solid #fff;
}

.input::placeholder {
    font-size: 12px;
    font-weight: 700;
}

.input:focus {
    outline: none;
}

.input_box {
    padding-bottom: 5px;
}

.button {
    background-color: #000000;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    cursor: pointer;
    width: 100%;
    height: 45px;
    border: none;
    font-weight: 700;
    margin-top: 5px;
}

.email_text {
    margin-top: 80px;
}

.recommendation_text {
    align-items: center;
    text-align: center;
    font-weight: 700;
}

.recommendation_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    margin-top: 20px;
}

.recommendation_img {
    max-width: 335px;
    max-height: 236.26px;
    transition: .2s
}

.recommendation_img img {
    width: 100%;
    height: 100%;
    transition: .2s;
}

.link:hover img {
    opacity: .6;
    transition: .2s;
}

.recommendation_title {
    margin-top: 10px;
}

.recommendation_text {
    margin-top: 80px;
    font-size: 12px;
}

.description {
    font-weight: 400;
    text-transform: none;
    margin-top: 10px;
    font-size: 11px;
    line-height: 16px;
}

.mark_container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 11px;
    opacity: 0.5;
}

.errorBorder {
    border-bottom: 1px solid red;
}

.submited_message {
    margin-top: 80px;
}


@media only screen and (max-width: 1024px) {
    .inner {
        padding-bottom: 40px;
    }
    .grid_container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .recommendation_container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px;
    }
}
