.close {
    cursor: pointer;
    position: absolute;
    right: 20px;
}

.inner {
    background-color: #fff;
    align-items: center;
    text-align: center;
    width: 100%;
    z-index: 67;
    display: flex;
}

.input_box {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    text-align: center;
}

.input_box input {
    border: none;
    outline: none;
    max-width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    width: 600px;
}

.input_box input::placeholder {
    font-weight: 700;
    color: rgb(117, 117, 117, .6);
    font-size: 13px;
}

.img {
    margin-right: 15px;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

@media only screen and (max-width: 1025px) {
    .close {
        padding-left: 20px;
        background-color: #fff;
    }
}

