.inner {
    display: grid;
    grid-template-columns: auto;
    padding-top: 41px;
    font-weight: 400;
}

.title {
    font-size: 21px;
    margin-bottom: 40px;
  }

.dropdown {
    padding: 21px 0;
    border-top: 1px solid rgb(245, 245, 245);
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}

.dropdown:last-child {
    border-bottom: 1px solid rgb(245, 245, 245);
}

.dropdown_subtitle {
    font-size: 12px;
}

.text {
    margin-top: 20px;
}

.subtitle_box {
    display: flex;
    align-items: center;
    text-align: center;
}

.subtitle_box:hover img {
    transform: rotate(180deg);
}

.arrow {
    transform: rotate(90deg);
    margin-left: 5px;
    transition: .2s;
}


.arrow_active {
    transform: rotate(180deg);
    transition: .2s;   
    margin-left: 5px;
}