.inner {
    display: grid;
    grid-template-columns: 690px;
    padding-top: 41px;
    font-weight: 400;
}

.title {
    font-size: 21px;
    margin-bottom: 40px;
  }

.dropdown {
    padding: 21px 0;
    border-top: 1px solid rgb(245, 245, 245);
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}

.dropdown:last-child {
    border-bottom: 1px solid rgb(245, 245, 245);
}

.dropdown_title {
    font-size: 12px;
}