.list {
    display: flex;
}

.item {
    list-style: none;
}

.item a {
    opacity: .5;
}

.item a:hover {
    opacity: 1;
    text-decoration: underline;
    font-weight: 700;
}

.item:not(:last-child) {
    margin-right: 20px;
}

.active {
    color: pink;
    font-weight: 700;
    text-decoration: underline;
    opacity: 1;
}
