.list {
    display: flex;
}

.item {
    list-style: none;
}

.item {
    color: rgb(0, 0, 0, .5);
}

.item:hover {
    color: rgb(0, 0, 0, 1);
    text-decoration: underline;
    font-weight: 700;
}

.item:not(:last-child) {
    margin-right: 20px;
}

.active {
    color: rgb(0, 0, 0, 1);
    font-weight: 700;
    text-decoration: underline;
}
