.title {
  font-size: 21px;
  margin-bottom: 40px;
}

.subtitle {
  font-size: 12px;
  margin-bottom: 21px;
}

.text {
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 17px;
}

.form {
  display: grid;
}

.input {
  padding: 20px 0px 12px;
  border: none;
  border-bottom: 1px solid rgb(117, 117, 117, .9);
  color: rgb(0, 0, 0, 1);
  font-size: 16px
}

.input:not(last-child) {
  margin-bottom: 22px;
}

.input:hover {
  border-bottom: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0, 1);
}

.input:focus {
  outline: none;
}

.error_border {
  border-bottom: 1px solid red;
}

.text a {
    text-decoration: underline;
}

.reset_btn {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    transition: .2s;
    margin-top: 18px;
}

.reset_btn:hover {
    opacity: .7;
    transition: .2s;
}

.cancel_btn {
    background-color: #ffffff;
    border: 1px solid #000;
    margin-top: 10px;
    transition: .2s;
}

.cancel_btn:hover {
    background-color: rgb(117,117,117);
    color: #fff;
    border: 1px solid rgb(117,117,117);
    transition: .2s;
}

.sent_email {
  font-weight: 700;
  margin-bottom: 20px;
}

.input_container {
  display: grid;
  position: relative;
}

.label {
  position: absolute;
  transition: transform 0.3s, font-size 0.3s;
  color: rgb(117, 117, 117, .9);
}

.input:hover + .label {
  color: rgb(0, 0, 0, 1)
}

.only_focus {
  transform: translateY(-150%);
}

.label_animated {
  position: absolute;
  pointer-events: none;
  transition: transform 0.3s, font-size 0.3s;
  transform: translateY(-150%);
}

.input + .label {
  top: 30%;
}