.inner {
    display: flex;
    align-items: center;
    font-weight: inherit;
}

.list {
    display: flex;
}

.item {
    list-style: none;
    cursor: pointer;
}

.item:hover {
    font-weight: 700;
}

.item:not(:last-child) {
    margin-right: 30px;
}

.active {
    color: #000000;
    font-weight: 700;
    text-decoration: underline;
    margin-right: 30px;
    cursor: pointer;
}