.shopnav {
    display: flex;
    z-index: 14;
}

.list {
    display: flex;
}

.item {
    list-style: none;
    cursor: pointer;
}

.item:hover {
    font-weight: 700;
}

.item:not(:last-child) {
    margin-right: 35.7px;
}

.active {
    color: #000000;
    font-weight: 700;
}

.filter {
    position: absolute;
    right: 20px;
}