.inner {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
}

.title_box {
    height: 100%;
    grid-column: span 4;
    font-size: 14px;
    font-size: 400;
    border-right: 1px solid rgb(245, 245, 245);
    margin-right: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.city_box {
    grid-column: span 20;
    padding-top: 41px;
    padding-bottom: 40px;
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 98px;
    row-gap: 80px;
}

.city_title_box {
    display: flex;
    justify-content: space-between;
}

.text_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    line-height: 17px;
}

.text {
    max-width: 200.72px;
    font-weight: 400;
}

.map_text {
    display: flex;
    color: rgb(0, 0, 0, .7);
}

.map_text:hover {
    color: rgb(0, 0, 0, 1);
    font-weight: 700;
}

.map_text img {
    margin-left: 5px;
    opacity: .7;
    z-index: 5;
}

.more_info {
    color: rgb(0, 0, 0, .7);
}

.mavp_link {
    display: block;
}

.schedule {
    font-weight: 400;
    margin-top: 10px;
    line-height: 17px;
}

.section:not(:last-child) {
    border-bottom: 1px solid rgb(245, 245, 245);
}



@media only screen and (max-width: 1024px) {
    .inner {
        grid-template-columns: repeat(1, 1fr);
    }
    .grid_container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 40px;
        row-gap: 80px;
    }

    .title_box {
        height: 100%;
        grid-column: 0;
        border: 0;
    }

    .city_box {
        grid-column: auto;
    }
}