.home {
    display: flex;
    justify-content: center;
    max-height: 614px;
}

.home img {
    max-width: 1400px;
    max-height: 574px;
    padding: 20px 20px 19px 20px;
}

.home img:hover {
    opacity: .7;
    transition: 1s;
    image-orientation: from-image;
}