.features {
    padding: 40px 0px 80px 0px;
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 62px;
}

.img_container {
    width: 100%;
    object-fit: fill;
    transition: .2s
}

.img_container img {
    width: 100%;
    height: 100%;
    transition: .2s;
}

.link:hover img {
    opacity: .6;
    transition: .2s;
}

.title {
    margin-top: 12px;
}

.description {
    font-weight: 400;
    text-transform: none;
    margin-top: 10px;
    font-size: 11px;
    line-height: 16px;
}

.mark_container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 11px;
    opacity: 0.5;
}

.tag {
    text-transform: uppercase;
}

@media only screen and (max-width: 1024px) {
    .grid_container {
        grid-template-columns: repeat(2, 1fr);
    }

    .img_container {
        max-width: 475px;
        height: 275px;
    }

    .features {
        padding: 40px 0px 40px 0px;
    }
}

@media only screen and (max-width: 520px) {
    .grid_container {
        grid-template-columns: auto;
    }

    .features {
        padding: 40px 0px 40px 0px;
    }
}

