.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    display: flex;
}

.item {
    list-style: none;
}

.item:not(:last-child) {
    margin-right: 35.7px;
}

.active {
    color: #000000;
    font-weight: 700;
}

.button {
    background-color: #fff;
    border: none;
    font-weight: 700;
}