.inner {
    display: flex;
    align-items: center;
    font-weight: inherit;
}

.list {
    display: flex;
}

.item {
    list-style: none;
    cursor: pointer;
}

.item:hover {
    font-weight: 700;
}

.item:not(:last-child) {
    margin-right: 30px;
}

.active {
    color: #000000;
    font-weight: 700;
    text-decoration: underline;
}
.button {
    padding: 0;
    background-color: #fff;
    border: none;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}

.button:hover {
    font-weight: 700
}

.right_side_box {
    display: flex;
    position: absolute;
    right: 20px;
    align-items: center;
}

.email {
    text-transform: uppercase;
    margin-right: 20px;
    font-weight: 700;
    color: rgb(198, 198, 198);
}


@media only screen and (max-width: 1024px) {
    .email {
        display: none;
    }

    .signout {
        background-color: #fff;
        padding-left: 20px;
    }

    .list {
        padding-right: 80px;
    }
}