.chat {
    width: 342px;
    height: 539px;
    position: fixed;
    right: 15px;
    bottom: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
}

.inner {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    height: 100%;
}

.title_box {
    background-color: #000000;
    height: 44px;
    border-radius: 8px 8px 0 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    font-weight: 700;
    font-size: 16px;
}

.close_box {
    padding: 10px;
    cursor: pointer;
    position: absolute;
    right: 13px;
    top: 12px;
}

.close {
    display: block;
    width: 10px;
    height: 2px;
    border-radius: 24px;
    background-color: #fff;
    cursor: pointer;
}

.form {
    margin: 0 5px 0 10px;
    padding: 20px 15px 30px 10px;
    text-align: left;
}

.textarea {
    resize: none;
    width: 274px;
    height: 89px;
    padding: 11px 13px;
    margin: 8px 0 6px;
    border: 1px solid rgb(216, 220, 222);
    border-radius: 4px;
    font-size: 12px;
    margin-bottom: 15px;
}

.textarea:hover {
    border: 1px solid rgb(204, 208, 211)
}

.textarea:focus {
    outline: 2px solid rgb(184, 188, 191);
}

.input {
    margin: 10px 0px 19px;
    width: 274px;
    padding: 11px 13px;
    border: 1px solid rgb(216, 220, 222);
    border-radius: 4px;
    transition: .5s;
    font-size: 12px;
}

.input:focus {
    outline: 2px solid rgb(184, 188, 191);
}

.input:hover {
    border: 1px solid rgb(204, 208, 211)
}

.text {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.14px;
}

.input_title {
    display: block;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 6px;
}


.button_block {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 68px;
    border-top: 0.0785714rem solid rgb(233, 235, 237);
    box-shadow: 0px -1px 17px 1px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
}

.button {
    width: 127px;
    border-radius: 4px;
    height: 38px;
    margin-left: auto;
    margin-right: 20px;
    border: none;
    background-color: #000000;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    font-weight: 700;
}

.thanks_text {
    font-weight: 400;
}

.thanks_text p:first-child {
    font-weight: 700;
    margin-bottom: 10px;
}

.thanks_container {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.thanks_container img {
    width: 200px;
    height: 200px;
}

.done {
    margin-top: 20px;
    font-weight: 400;
    cursor: pointer;
}

.done:hover {
    text-decoration: underline;
}

.input_box {
    position: relative;
}

.error_message {
    display: block;
    position: absolute;
    bottom: 0px;
    left: 20px;
    color: red;
}

.error_border {
    border: 1px solid #ff0000;
}

.error_box {
    display: flex;
    align-items: center;
}

.not_error {
    display: none;
}


.error_img {
    position: absolute;
    bottom: 0;
    width: 15px;
    height: 15px;
}