.inner {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .title {
    font-size: 21px;
    margin-bottom: 40px;
  }

.text {
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 54px;
}

.size_gide {
    max-width: 1163.33px;
  }
  
.size_gide h2 {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
.size_gide table {
    width: 100%;
    border-collapse: collapse;
}
  
.size_gide  th, td {
    border: none;
    border-bottom: 1px solid rgb(245, 245, 245);
    text-align: center;
    height: 35px;
  }

.size_gide th, td, table, tr {
    padding: 0px;
    margin: 0;
}

.size_gide  th {
    background-color: #fff;
    font-weight: bold;
  }
  
.size_gide tr:nth-child(even) {
    background-color: #fff;
}

.type_size {
    padding: 0;
    text-align: left;
    font-weight: 700;
    width: 350px;
    max-width: 350px;
}

.type_size:first-child {
    border-top: 1px solid rgb(245, 245, 245);
}

.size {
    width: 130.7px;
    max-width: 130.7px;
}

.size_gide th {
    border-top: 1px solid rgb(245, 245, 245);
}

.size_gide:not(last-child) {
    margin-bottom: 28px;
}


@media only screen and (max-width: 1024px) {
  .inner {
    padding-bottom: 40px;
  }
}