.bottomfooter {
    display: flex;
    justify-content: space-between;
    height: 47px;
    border-top: 1px solid rgb(245, 245, 245);
    text-align: center;
    align-items: center;
    padding: 0px 20px;
}

.list {
    display: grid;
    grid-template-columns: 130px 130px 130px;
}

.item {
    list-style: none;
}

.item:hover {
    font-weight: 700;
    cursor: pointer;
}