
.inner {
  margin: 0;
  display: grid;
  grid-template-rows: 109px auto 94px; /* Первая строка займет все доступное пространство, вторая - высоту футера */
  min-height: 100vh; /* Гарантирует, что контейнер займет как минимум всю видимую высоту экрана */
}

.header {
  display: fixed;
  top: 0;
}
