.topfooter {
    display: flex;
    justify-content: space-between;
    height: 46px;
    align-items: center;
    padding: 0 20px;
    border-top: 1px solid rgb(245, 245, 245);
}

.list {
    display: grid;
    grid-template-columns: 80px 57px 70px;
    gap: 50px;
    list-style: none;
}

.social_media {
    display: flex;
}

.item {
    list-style: none;
}

.item:hover {
    font-weight: 700;
    cursor: pointer;
}

.social_media {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 18px;
    list-style: none;
}

.social_media a:hover {
    opacity: .5;
    transition: .3s;
}

.social_media img {
    margin-top: 7px;
}


@media only screen and (max-width: 1024px) {
    .social_media {
        display: none;
    }

    .item {
        font-weight: 700;
        font-size: 12px
    }
}