
.list {
    display: flex;
}

.item {
    list-style: none;
}

.item:hover {
    font-weight: 700;
}

.item:not(:last-child) {
    margin-right: 40px;
}

.active {
    color: #000000;
    font-weight: 700;
}

.active_features {
    color: #000000;
    font-weight: 700;
    text-decoration: underline;
}

.arrow {
    transform: rotate(90deg);
    transition: .2s;
    margin-left: 5px;
}

.arrow_active {
    transition: .2s;
    transform: rotate(180deg);
    margin-left: 5px;
}

.item_box {
    display: flex;
    align-items: center;
    text-align: center;
}

.item_box:hover img {
    transform: rotate(180deg);
}

@media only screen and (max-width: 1024px) {
    .list {
        display: block;
        position: absolute;
        top: 100px;
        left: 0;
    }

    .item {
        font-size: 24px;
    }
  }



@media only screen and (max-width: 1400px) {
    .nav {
        margin-left: 80px;
    }
  }
@media only screen and (min-width: 1400px) {
    .nav {
        margin-left: 60px;
    }
  }
@media only screen and (min-width: 1500px) {
    .nav {
        margin-left: 20px;
    }
  }
@media only screen and (min-width: 1550px) {
    .nav {
        margin-left: 0px;
    }
  }