
.list {
    display: flex;
}

.item {
    list-style: none;
    display: flex;
}

.item:hover {
    font-weight: 700;
}

.item:not(:last-child) {
    margin-right: 40px;
}

.active {
    color: #000000;
    font-weight: 700;
}

.active_features {
    color: #000000;
    font-weight: 700;
    text-decoration: underline;
}

.arrow {
    padding-left: 5px;
    transition: .2s;
}

.arrow_active {
    transition: .2s;
    padding-left: 5px;
    transform: rotate(90deg);
    padding-bottom: 5px;
}
