
.inner {
    padding-top: 40px;
    padding-bottom: 40px;
}

.title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.text {
    margin-bottom: 20px;
}

.btn_box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    margin-bottom: 20px;
}

.btn_box button {
    width: 100%;
    height: 45px;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    background-color: #000;
    border: none;
    transition: .3s;
    font-size: 12px;
}

.btn_box button:hover {
    opacity: .7;
    transition: .3s;
}

.img_box {
    width: 100%;
}

.img_box img {
    width: 100%;
    min-height: 400px;
    object-fit:cover;
}


@media only screen and (max-width: 1024px) {
    .btn_box {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 10px;
    }
}